<div class="bg-image">


	
	<div class="container mx-auto">
	<section class="flex flex-wrap bg-white shadow-xl rounded-lg mt-10 py-16 px-12 relative z-10">
	
		<div class="w-full md:w-8/12 lg:w-12/12 xl:w-12/12 px-4">
		  <div class="pt-32 sm:pt-0">
			<h2 class="font-semibold text-3xl text-blueGray-600">
				Información del comprador
			</h2>
			<p class="mt-4 text-lg leading-relaxed text-blueGray-500">
				Completa la información del comprador de la póliza.
			</p>
			<p>Recuerde: El NIT se debe especificar es sin el dígito de verificación.</p>
		  </div>
		</div>
		<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div class="container mx-auto">
				<div class="justify-center flex flex-wrap">
					<div class="w-full lg:w-12/12 px-4 ">
						<div class="flex flex-row">
							<div class="basis-1/3 px-4">
								<div class="w-full mb-3 mt-8">
									<label
									class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									htmlFor="ownerDocumentType"
									>
									Identificación Cédula
									</label>
									<select class="select-form form-control" id="tipodocumento" formControlName="ownerDocumentType" required (change)="checkdata()">
										<option value="" selected>Seleccione</option>
										<option 
										*ngFor="let tipoDoc of tiposDocumentos | keyvalue" 
										value="{{tipoDoc.key}}">{{tipoDoc.value}}
										</option>
									</select>
								</div>
								<div class="w-full mb-3 mt-8" *ngIf="check">
									<label
									  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									  htmlFor="email"
									>
									Correo electrónico
									</label>
									<input
									  type="text"
									  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									  placeholder="email"
									  formControlName="owner_email"
									/>
								</div>
								<div class="w-full mb-3 mt-8" *ngIf="check">
									<label
									  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									  htmlFor="phone"
									>
									Celular
									</label>
									<input
									  type="text"
									  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									  placeholder="phone"
									  formControlName="owner_phone"
									/>
								</div>
								
							</div>
							<div class="basis-1/3 px-4">
								<div class="w-full mb-3 mt-8" >
									<label
									class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									htmlFor="modelo"
									>
									Número de identificación
									</label>
									<input
									type="number"
									class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									placeholder=""
									formControlName="ownerDocumentNumber"
									(change)="checkdata()"
									/>
								</div>
								<div class="w-full mb-3 mt-8" *ngIf="check">
									<label
									  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									  htmlFor="city"
									>
									ciudad
									</label>
									<input
									  type="text"
									  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									  placeholder="city"
									  formControlName="owner_city"
									/>
								</div>
							</div>
							<div class="basis-1/3 px-4">
								<div class="w-full mb-3 mt-8" *ngIf="check">
									<label
									  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									  htmlFor="Razón Social"
									>
									Razón Social
									</label>
									<input
									  type="text"
									  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									  placeholder="Razón Social"
									  formControlName="owner_person_business_name"
									/>
								</div>
								<div class="w-full mb-3 mt-8" *ngIf="check">
									<label
									  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									  htmlFor="Direccion"
									>
									Direccion
									</label>
									<input
									  type="text"
									  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									  placeholder="Direccion"
									  [(ngModel)]="vehicleInfo.vehicle.owner.address"
									  formControlName="owner_address"
									/>
								</div>
							</div>
					</div>
				</div>
				</div>
			</div>
			<button type="submit" class="firstButton">Submit</button>
		</form>
	</section>
		</div>
</div>
