<div class="bg-image">


	<!-- component -->
	<div class="max-w-xl mx-auto my-4 border-b-2 pb-4">
		<div class="flex pb-3">
			<div class="flex-1">
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-green-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-white text-center w-full"><i
							class="fa fa-check w-full fill-current white"></i></span>
				</div>
			</div>


			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full bg-gray-100 rounded items-center align-middle align-center flex-1">
					<div class="bg-green-400 text-xs leading-none py-1 text-center text-gray-darkest rounded "
						style="width: 100%"></div>
				</div>
			</div>


			<div class="flex-1">
				<div class="w-10 h-10 bg-green-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-white text-center w-full"><i
							class="fa fa-check w-full fill-current white"></i></span>
				</div>
			</div>

			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full bg-gray-100 rounded items-center align-middle align-center flex-1">
					<div class="bg-green-400 text-xs leading-none py-1 text-center text-gray-darkest rounded "
						style="width: 20%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div
					class="w-10 h-10 bg-white border-2 border-gray-100 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-gray-800 text-center w-full">3</span>
				</div>
			</div>


			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full bg-gray-100 rounded items-center align-middle align-center flex-1">
					<div class="bg-green-400-100 text-xs leading-none py-1 text-center text-gray-darkest rounded "
						style="width: 0%"></div>
				</div>
			</div>


			<div class="flex-1">
				<div
					class="w-10 h-10 bg-white border-2 border-gray-100 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-gray-800 text-center w-full">4</span>
				</div>
			</div>


			<div class="flex-1">
			</div>
		</div>

		<div class="flex text-xs content-center text-center">
			<div class="w-1/4">
				Invitation received
			</div>

			<div class="w-1/4">
				Personal details
			</div>

			<div class="w-1/4">
				Application details
			</div>

			<div class="w-1/4">
				Confirmation
			</div>
		</div>
	</div>
	<!-- component -->
	<div class="container mx-auto">
	<section class="flex flex-wrap bg-white shadow-xl rounded-lg mt-10 py-16 px-12 relative z-10">
	
		<div class="w-full md:w-8/12 lg:w-12/12 xl:w-12/12 px-4">
		  <div class="pt-32 sm:pt-0">
			<h2 class="font-semibold text-3xl text-blueGray-600">
				Información del comprador
			</h2>
			<p class="mt-4 text-lg leading-relaxed text-blueGray-500">
				Completa la información del comprador de la póliza.
			</p>
			<p>Recuerde: El NIT se debe especificar es sin el dígito de verificación.</p>
		  </div>
		</div>
		<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div class="container mx-auto">
				<div class="justify-center flex flex-wrap">
					<div class="w-full lg:w-12/12 px-4 ">
						<div class="flex flex-row">
							<div class="basis-1/3 px-4">
								<div class="w-full mb-3 mt-8">
									<label
									class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									htmlFor="marca"
									>
									Identificación Cédula
									</label>
									<select class="select-form form-control" id="tipodocumento" formControlName="ownerDocumentType" required #tipodocumento >
										<option value="" selected>Seleccione</option>
										<option 
										*ngFor="let tipoDoc of tiposDocumentos | keyvalue" 
										value="{{tipoDoc.key}}">{{tipoDoc.value}}
										</option>
									</select>
								</div>
								
							</div>
							<div class="basis-1/3 px-4">
								<div class="w-full mb-3 mt-8">
									<label
									class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
									htmlFor="modelo"
									>
									Número de identificación
									</label>
									<input
									type="number"
									class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									placeholder=""
									formControlName="ownerDocumentNumber"
									/>
								</div>
							</div>
					</div>
				</div>
				</div>
			</div>
			<button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
		</form>
	</section>
		</div>
</div>
