<div class="bg-image">
    <div class="firsform">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p class="firstTitle">Adquiere tu SOAT en 3 pasos</p>
            <div class="firstBlock">
                <div class="firstInputsDiv">
                    <div class="firstInputsDivContainer">
                        <input type="email" formControlName="email"
                            class=" ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required"
                            placeholder="Correo electrónico" ng-model="email" autocomplete="off" required 
                            aria-invalid="true" >
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
                            <div *ngIf="f.email.errors?.required">
                                email is required.
                            </div>
                            <div *ngIf="f.email.errors?.email">
                                correo formato incorrecto.
                            </div>

                        </div>
                    </div>
                    <div class="firstInputsDivContainer">
                        <input type="text" formControlName="phone"
                            class=" ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength"
                            placeholder="Celular" ng-model="phone" ng-keypress="onlyNumber($event)" minlength="10"
                            maxlength="16" autocomplete="off" required="" aria-invalid="true" style="">

                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="alert alert-danger">
                            <div *ngIf="f.phone.errors?.required">
                                phone is required.
                            </div>
                        </div>
                    </div>
                    <div class="firstInputsDivContainer">
                        <input type="text" formControlName="plate"
                            class=" ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength"
                            placeholder="Placas del vehículo" ng-model="plate" minlength="5" maxlength="6"
                            autocomplete="off" required="" aria-invalid="true" style="">

                        <div class="firstImageInput">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div *ngIf="f.plate.invalid && (f.plate.dirty || f.plate.touched)" class="alert alert-danger">
                            <div *ngIf="f.plate.errors?.required">
                                plate is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button  type="submit" class="firstButton" ng-style="{'background-color': secondaryColor,'color': mainBoxColor}"
                        type="submit">
                        COTIZAR
                    </button>
                </div>
            </div>
            <div class="autorizathionDiv">
                <input class="checkboxSize ng-pristine ng-untouched ng-valid ng-empty" type="checkbox"
                    formControlName="acceptTerms" ng-model="terms" aria-invalid="false" style="">
                <div class="textAutorizathion">
                    Acepto y autorizo el uso de mi información de acuerdo a losTérminos y Condicionesy laAutorizacón de
                    Usodel sitio.
                </div>
                <div *ngIf="f.acceptTerms.invalid && (f.acceptTerms.dirty || f.acceptTerms.touched)" class="alert alert-danger">
                    <div *ngIf="f.acceptTerms.errors?.required" style="color:red">
                        acceptTerms is required.
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>